<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    
</head>
<body>
    <div class="form">
        <a style="color: blue;" href="/">Go back</a>
        <h2 class="list-items">
            <%= fileName %> Deleted
        </h2>
    </div>
</body>
</html>